* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.header-image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.image.is-250x150 {
    height: 301px;
    width: 498px;
}

.image.is-template {
    height: 256px;
    width: 440px
}

.hero .nav,
.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

label.label {
    color: white;
}

div.list_biens {
    display: none;
    padding: 0;
    margin: 0;
}

.tabs.is-toggle ul {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabs.is-toggle li+li {
    margin-left: 0px !important;
}

.hero-body {
    display: block !important;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 7rem 1.5rem !important;
}

.hero.is-info .navbar-menu {
    background-color: inherit !important;
    color: #101010 !important;
}

.pagination-link,
.pagination-next,
.pagination-previous {
    border-color: #dbdbdb;
    color: white !important;
    min-width: 2.5em;
}



.navbar-item,
.navbar-link {
    color: #4a4a4a;
    display: inline-block !important;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
}


@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: inherit !important;
    }
}



.navbar-burger {
    color: white !important;
}

.tabs a {
    color: white !important;
}

a:hover {
    color: inherit !important;
}

.file-label {
    color: white !important;
}

.box {
    padding: 0rem !important;
}

.image {
    border-radius: 6px;
}

.image.is-3by2 {
    padding-top: 0;
}

#secondeBox {
    display: flex;
    justify-content: flex-end
}