   <div class="container">
     <div class="section">
       <div class="card is-horizontal columns">
         <div class="card-image column is-three-fifths">
           <figure class="image is-4by3">
             <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg" alt="this used to be photo">
           </figure>
         </div>
         <div class="card-content column is-two-fifths">
           <div class="media">
             <div class="media-left">
               <figure class="image is-64x64">
                 <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
               </figure>
             </div>
             <div class="media-content">
               <p class="title is-4">Once upon a time there was a sailor</p>
               <p class="subtitle is-6">
                 <a class="tag is-delete is-rounded"></a>johnsmith
               </p>
             </div>
           </div>
           <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>. <span class="tag is-link">blackbird was a sailor</span>
             <span class="tag is-info">that's what you do</span>
             <br>
             <br>
             <div class="field is-grouped is-grouped-multiline">
               <div class="control">
                 <div class="tags has-addons">
                   <span class="tag is-dark">npm</span>
                   <span class="tag is-info">0.5.0</span>
                 </div>
               </div>
               <div class="field is-grouped is-grouped-multiline">
                 <div class="control">
                   <div class="tags has-addons">
                     <span class="tag is-link">axiomaciae</span>
                     <span class="tag is-info">24. 07. 2020</span>
                   </div>
                 </div>
                 <br>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="section">
       <div class="card is-horizontal columns">
         <div class="card-image column is-three-fifths">
           <figure class="image is-4by3">
             <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg" alt="this used to be photo">
           </figure>
         </div>
         <div class="card-content column is-two-fifths">
           <div class="media">
             <div class="media-left">
               <figure class="image is-64x64">
                 <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
               </figure>
             </div>
             <div class="media-content">
               <p class="title is-4">Once upon a time there was a sailor</p>
               <p class="subtitle is-6">
                 <a class="tag is-delete is-rounded"></a>johnsmith
               </p>
             </div>
           </div>
           <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>. <span class="tag is-link">blackbird was a sailor</span>
             <span class="tag is-info">that's what you do</span>
             <br>
             <br>
             <div class="field is-grouped is-grouped-multiline">
               <div class="control">
                 <div class="tags has-addons">
                   <span class="tag is-dark">npm</span>
                   <span class="tag is-info">0.5.0</span>
                 </div>
               </div>
               <div class="field is-grouped is-grouped-multiline">
                 <div class="control">
                   <div class="tags has-addons">
                     <span class="tag is-link">axiomaciae</span>
                     <span class="tag is-info">24. 07. 2020</span>
                   </div>
                 </div>
                 <br>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>