<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroclub - </title>
        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="/aeroclub/src/View/assets/css/body.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    </head>
    <body>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="#LINKACC#">
                                <p class="brand-paragraph">Aeroclub</p>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul class="navLi">
                                        <li id="default"><a href="#LINKACC#">Home</a></li>
                                        <li id="avions"><a href="#LINKPLANESLIST#">Avions</a></li>
                                    </ul>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="#LINKCONNECTION#">
                                            <span class="icon">
                                                <i class="fa-solid fa-globe"></i>
                                            </span>
                                            <span title="Hello from the other side">#TXTBUTTONPROFILE#</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        La nouvelle norme dans le pilotage d'avions
                    </h1>
                    <h2 class="subtitle">
                        Les avions sont vraiment des machines incroyables mais le problème c'est qu'il faut les conduire avec des instruments trop compliqués pour les gens normaux par conséquent s si bien.
                    </h2>
                </div>
            </div>
        </section>
            #CONTENT#
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <div class="control level-item">
                        <a href="https://github.com/BulmaTemplates/bulma-templates">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Bulma Templates</span>
                                <span class="tag is-info">MIT license</span>
                            </div>
                        </a>
                    </div>
                    <br>
                    <div class="content has-text-centered">
                        <p>
                            <strong>Aeroclub</strong> par Joey et Léo. 
                            <br>
                            <p>2005-2022</p>
                        </p>
                      </div>
                </div>
            </div>
            <script src="/aeroclub/src/View/assets/js/nav.js"></script>
        </footer>
    </body>
</html>