<div class="columns is-multiline">
    <div class="column is-full">
        <p class="infos" style="font-size: 45px;"><i class="fa-solid fa-user"></i> #NOM# #PRENOM#<br></p>
        <hr>
        <h3 class="title is-4"><i class="fa-sharp fa-solid fa-map-location-dot"></i> #CODEPOSTAL# #VILLE# #ADRESSE#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-envelope"></i> #EMAIL#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-phone"></i> #TEL#</h3>
        <hr>
        <h3 class="title is-4"><i class="fa-solid fa-cake-candles"></i> Née à #LIEUNAISSANCE# le #DATENAISSANCE#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-briefcase"></i> #PROFESSION#</h3>
        <hr>
        <h3 class="title is-4"><i class="fa-solid fa-id-card-clip"></i> Numéro de badge: #NUMBADGE#</h3>
        <h3 class="title is-4"><i class="fa-regular fa-id-card"></i> Numéro de carte fédéral: #CARTEFEDERAL#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-id-card-clip"></i> Numéro du PPLA: #NUMEROPPLA#</h3>
        <h3 class="title is-4"><i class="fa-regular fa-id-card"></i> Numéro du BB: #NUMEROBB#</h3>
        <hr>
        <h3 class="title is-4"><i class="fa-solid fa-calendar-days"></i> Date théorique du bb : #DATETHEORIQUEBB#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-calendar-days"></i> Date du bb : #DATEBB#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-calendar-days"></i> Date théorique du PPLA : #DATETHEORIQUEPPLA#</h3>
        <h3 class="title is-4"><i class="fa-solid fa-calendar-days"></i> Date du PPLA : #DATEPPLA#</h3>
    </div>
    <div class="column is-full" id="accountTable">
       
    </div>
</div> 