<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification is-primary">
      <code class="html">#Nom #Prénom</code><br>
    </p>
  </div>
</div>
<div class="columns is-multiline">
  <div class="column is-narrow">
    <div class="box">
      <p class="title is-2">Profil :</p>
      <p class="subtitle"></p>
    </div>
  </div>
    <div class="column is-full">
    <div class="box">
      <p class="title is-5">Informations personnelles :</p>
      <p class="infos">Nom : #NOM#<br></p>
      <p>Prénom : #PRENOM#<br></p>
      <p>Date de naissance : #DATENAISSANCE#<br></p>
      <p>Lieu de naissance : #LIEUNAISSANCE#<br></p>
      <p>Adresse : #ADRESSE#<br></p>
      <p>Code postal : #CODEPOSTAL#<br></p>
      <p>Ville actuelle : #VILLE#<br></p>
      <p>Téléphone : #TELEPHONE#<br></p>
      <p>Mail : #MAIL#<br></p>
      <p>Profession : #PROFESSION#<br></p>
      <p>Num civil : #NUMCIVIL#<br></p>
      <p> <br></p>
    </div>
    </div>
    <div class="column is-full">
    <div class="box">
      <p class="title is-5">Informations numéros, attestation :</p>
      <p class="infos">Numéro du membre : #NUMEROMEMBRE#<br></p>
      <p>Numéro du badge : #NUMEROBADGE#<br></p>
      <p>Carte fédérale : #CARTEFEDERALE#<br></p>
      <p> <br></p>
    </div>
    </div>
    <div class="column is-full">
    <div class="box">
      <p class="title is-5">Dates :</p>
      <p class="infos">Date théorique du bb : #DATETHEORIQUEBB#<br></p>
      <p>Date du bb : #DATEBB#<br></p>
      <p>Date théorique du planning : #DATETHEORIQUEPLANNING#<br></p>
      <p>Date du planning : #DATEPLANNING#<br></p>
      <p> <br></p>
    </div>
    </div>
</div>